
body{
  background-image: url(bodybg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: scroll;
}

.navbar-default{
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  border-color: black;

}

.nav.navbar-nav li a{
  color:black;
  opacity:1;

}

.nav.navbar-nav li a:hover{
  opacity:0.5;
}
