
body{
  background-image: url(bodybg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: scroll;
}



.navbar-inverse{
background:transparent;
border-radius: 0px;
border-width: 0px;
margin-top: 30px;
margin-left: 20px;
margin-right: 80px;

}
.navbar-inverse .navbar-brand{
  font-size: 30px;
  color:black;
  margin-right: 50px;
  margin-left: 0px;
}
.nav.navbar-nav li a{
  font-size: 18px;
  color:white;
  opacity:1;
}
.nav.navbar-nav li a:hover{
  opacity:1;
  font-size: 22px;
  background-color: #111;
  border-radius: 5px;
  filter: contrast(0.3)
  brightness(1)
  opacity(1);

}

.text-main{
  color:black;
  margin-left: 200px;
  margin-top: 160px;
}

.slideshow-container {
  margin-left: 1100px;
  margin-top: 200px;
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 40px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  margin-left: 1100px;
    text-align: center;
    padding: 13px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
  text-decoration: none;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
